<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>

  <style>
    body {
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 10px;
    }
    section {
      width: calc(100% - 40px);
      height: auto;
      margin: auto;
      border-radius: 5px;
      background-color: #eee;
      padding: 20px;
    }
    h2 {
      color: #3e4bff;
    }
    p{
      color: rgb(43, 43, 43)
    }
    button {
      width: auto;
      padding: 10px;
      border-radius: 5px;
      border: none;
      margin-left: auto;
      margin-top: 10px;
      color: #fff;
      background-color: #3e4bff;
      font-size: 14px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button a {
      text-decoration: none;
      color: #fff;
    }
  </style>
</head>
<body>
  <section>
    {{message}}
  </section>
</body>
</html>